@media screen and (max-width: 600px) {

  .Topbar .back.icon {
    display: flex;
  }

  .Columns .Drawer {
    display: none;
  }

  .Columns {
    padding: 0px;
  }

  .form {
    flex-direction: column;
  }

  .form * {
    flex-basis: auto;
  }

}